.contenedor {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.franja3 {
    height: 3rem;
    background-color: #656A73;
}

.franja4 {
    height: 5rem;
    background-color: #474F59;
}

.franja5 {
    background-color: #656A73;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.franja6 {
    height: 10rem;
    background-color: #474F59;
}

.sidebar {
    background-color: #474F59;
    width: 90%;
    height: 90%;
    justify-self: end;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.elementos {
    background-color: #656A73;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75%;
    justify-self: center;
    gap: 15px;
}

.video{
    grid-column: span 3;
    background-color:  rgb(255, 159, 81);
    margin-top: 27px;
}

.miniatura{
    background-color: #474F59;
    height: 50%;
    margin-top: 25px;
}

.item-miniatura {
    display: flex;
    flex-direction: column;
}

.sidebar button{
    display: flex;          /* Alinea el icono y el texto en fila */
    align-items: center;    /* Centra verticalmente */
    gap: 12px;              /* Separa el icono del texto */
    width: 100%;
    padding: auto;
    color: #656A73;
    background-color: #474F59;
    border: none;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    transition: all 0.2s ease;
    cursor: pointer;
    flex: 1;
    width: 100%;
    }

    .sidebar button:hover {
        background-color: rgb(255, 159, 81);
        color: #ffffff;
    }
    
    .sidebar button.active i,
    .sidebar button:hover i {
        color: #ffffff;
    }